html,
body{
    background-color: rgb(80, 168, 226);
}

h1 {
    color:blue;
    background-color: yellow;
    font-family: sans-serif;
}
h2 {
    color: rgb(209, 115, 27);
    font-family: sans-serif;
}

.image_link {
    height: 230;
    width: 20vw;
    margin: 2% 0 1% 2%;
}

.image_link:hover {
    filter: grayscale(70%);
}